<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>Express Boilerplate</title>
		<meta name="description" content="">
		<meta name="author" content="Piotr Mularski">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--[if lt IE 9]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="styles/main.css">
		<link rel="shortcut icon" href="">
	</head>
<body>
	<h1>Express Server</h1>
	<h2>Demo request to the database</h2>
	<form method="POST" action="/newuser">
		<label for="username">Username:</label><input id="username" name="username" type="text" required>
		<label for="age">Age: </label><input id="age" name="age" type="number" max="100">
		<label for="avatar">Avatar: </label><input id="avatar" name="avatar" type="string">
		<button type="submit">Submit!</button>
	</form>
</body>
</html>